.logee-sales-theme {
          --buttons-lg-padding-left-right: 16;
  --buttons-lg-padding-top-bottom: 12;
  --buttons-lg-font-size: 18;
  --buttons-sm-padding-left-right: 12;
  --buttons-sm-padding-top-bottom: 8;
  --buttons-sm-font-size: 14;
  --buttons-primary-font-family: Nunito Sans;
  --buttons-primary-default-background-color: #f56565;
  --buttons-primary-default-color: #ffffff;
  --buttons-primary-hover-background-color: #e53e3e;
  --buttons-primary-hover-color: #ffffff;
  --buttons-primary-active-background-color: #c53030;
  --buttons-primary-active-color: #ffffff;
  --buttons-primary-focus-background-colors: #f56565;
  --buttons-primary-focus-color: #ffffff;
  --buttons-primary-disabled-background-color: #e2e8f0;
  --buttons-primary-disabled-color: #a0aec0;
  --buttons-primary-border-width: 0;
  --buttons-secondary-font-family: Nunito Sans;
  --buttons-secondary-default-background-color: #fed7d7;
  --buttons-secondary-default-color: #f56565;
  --buttons-secondary-hover-background-color: #feb2b2;
  --buttons-secondary-hover-color: #e53e3e;
  --buttons-secondary-active-background-color: #feb2b2;
  --buttons-secondary-active-color: #e53e3e;
  --buttons-secondary-focus-background-color: #fed7d7;
  --buttons-secondary-focus-color: #f56565;
  --buttons-secondary-disabled-background-color: #e2e8f0;
  --buttons-secondary-disabled-color: #a0aec0;
  --buttons-secondary-border-width: 0;
  --buttons-border-radius: 8;
  --buttons-md-padding-left-right: 12;
  --buttons-md-padding-top-bottom: 8;
  --buttons-md-font-size: 16;
  --checkbox-default-background-color: #ffffff;
  --checkbox-default-border: #cbd5e0;
  --checkbox-disabled-background-color: #edf2f7;
  --checkbox-disabled-border: #cbd5e0;
  --checkbox-active-disable-background-color: #feb2b2;
  --checkbox-active-disable-color: #ffffff;
  --checkbox-active-disable-border: #f56565;
  --checkbox-active-background-color: #f56565;
  --checkbox-active-color: #ffffff;
  --checkbox-active-border: #e53e3e;
  --checkbox-border-radius: 4;
  --checkbox-border-width: 1;
  --checkbox-text-enable: #2d3748;
  --checkbox-text-disable: #a0aec0;
  --radio-border-width: 1;
  --radio-default-background-color: #ffffff;
  --radio-default-border: #e2e8f0;
  --radio-disable-background-color: #edf2f7;
  --radio-disable-border: #e2e8f0;
  --radio-active-background-color: #ffffff;
  --radio-active-border: #f56565;
  --radio-active-disable-background-color: #ffffff;
  --radio-active-disable-border: #fc8181;
  --radio-text-enable: #2d3748;
  --radio-text-disable: #a0aec0;
  --button-primary-box-shadow: [object Object],[object Object];
  --button-secondary-box-shaddow: [object Object],[object Object];
  --anchor-default-color: #f56565;
  --anchor-hover-color: #e53e3e;
  --anchor-active-color: #c53030;
  --anchor-focus-color: #f56565;
  --anchor-disable-color: #a0aec0;
  --anchor-lg-font-size: 18;
  --anchor-md-font-size: 16;
  --anchor-sm-font-size: 14;
  --switch-active-background-color: #48bb78;
  --switch-active-disable-background-color: #9ae6b4;
  --switch-nonactive-background-color: #a0aec0;
  --switch-nonactive-disable-background-color: #e2e8f0;
      }