.theme-dark-theme {
          --border-width-button-ghost: 4px;
  --border-radius-button-ghost: 8px;
  --border-radius-card: 4px;
  --font-sizes-card-title: 13.6px;
  --font-sizes-card-content: 10.4px;
  --buttons-solid-background-color: #FF0000;
  --fg-default: #ffffff;
  --fg-muted: #e2e8f0;
  --fg-subtle: #a0aec0;
  --bg-default: #1a202c;
  --bg-muted: #4a5568;
  --bg-subtle: #718096;
  --accent-default: #5a67d8;
  --shadows-default: #f7fafc;
      }