.theme-dark-theme {
          --borderWidthButtonGhost: 4px;
  --borderRadiusButtonGhost: 8px;
  --borderRadiusCard: 4px;
  --fontSizesCardTitle: 13.6px;
  --fontSizesCardContent: 10.4px;
  --buttonsSolidBackgroundColor: #FFFF00;
  --fgDefault: #ffffff;
  --fgMuted: #e2e8f0;
  --fgSubtle: #a0aec0;
  --bgDefault: #1a202c;
  --bgMuted: #4a5568;
  --bgSubtle: #718096;
  --accentDefault: #5a67d8;
  --shadowsDefault: #f7fafc;
      }