.theme-light-theme {
          --button-primary-background: #7f9cf5;
  --button-ghost-outline: #000000;
  --button-ghost-text: #000000;
  --border-width-button-ghost: 4px;
  --border-radius-button-ghost: 8px;
  --border-radius-card: 4px;
  --font-sizes-card-title: 13.6px;
  --font-sizes-card-content: 10.4px;
  --fg-default: #000000;
  --fg-muted: #4a5568;
  --fg-subtle: #a0aec0;
  --bg-default: #ffffff;
  --bg-muted: #f7fafc;
  --bg-subtle: #edf2f7;
  --accent-default: #7f9cf5;
  --shadows-default: #1a202c;
      }